/* footer */
* {
    box-sizing: border-box;
}



.foot{
    background-color: #171a21;
    height: 110px;
    text-align: center;
    color: gray;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center
}

.rights{
    margin-top: 30px
}

/* base page */
.signup{
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 25px
}

.title{
    font-size: 40px;
        text-shadow: 1px 1px 2px white, 0 0 25px #99b806, 0 0 5px #99b806;

}

.content{
    background-color: #171a21;
    color: gray;
    margin-top: 390px;
}

.shift{
    margin-top: 30px;
    background-color: #99b806
}



/*Profile and Navbar CSS*/
.profile-pic {
    width: 150px;
    height: 150px;
    background-color: deepskyblue;
    display: inline-block;
    margin-left: 20px;
}

.profile-name {
    margin-left: 20px;
    display: inline-block;
    color: white;
}

.bar {
    width: 80%;
    height: 1px;
    background-color: white;
}

#play {
    font-family: 'Play', sans-serif;
}
body {
    background: url("./pictures/steam_cog.png");
    color: white;
}

.navbar {
    background-color: rgba(29, 29, 29, 0.94);
}

.center .navbar-inner {
    text-align: center;
}

.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.navbar-nav li a, .navbar-brand, .navbar-form {
    line-height: 55px;
    font-size: 20px;
    font-family: 'Play', sans-serif;
    color: white;
}

.main-page {
    margin: 100px;
}

/* media queires base page*/
@media only screen and (max-width: 1200px){
    .foot{
        height:300px;
       
    }
    .content{
        margin-top: 300px
    }
}


   

/*End of profile and navbar css*/