
.foot{
    background-color: goldenrod;
    height: 100px;
    text-align: center

}

.signup{
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 25px
}

.content{
    background-color: red
}

.hub{
    font-size: 20px
}

.shift{
    margin-top: 20px
}

.profile-pic {
    width: 150px;
    height: 150px;
    background-color: deepskyblue;
    display: inline-block;
    margin-left: 20px;
}

.profile-name {
    margin-left: 20px;
    display: inline-block;
}

.bar {
    width: 80%;
    height: 1px;
    background-color: black;
}

#play {
    font-family: 'Play', sans-serif;
}
body {
    background: url("./pictures/steam_cog.png");

}